
.topnav {
  overflow: hidden;
  background-color: #04AA6D;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: black;
  color: white;
}

table, th, td {
  border:1px solid black;
}

body {
  font-family: "PT Serif", serif;
}

h1 {
  font-family: "Ultra", serif;
}

.overlay {
  background-color: yellow;
  position: absolute;
  top: 0;
  transition: 0.9s ease;
  opacity: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.htmlProjectImage {
  display: block;
  border-radius: 20px;

}

.container {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}

.container:hover {
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>🐂</text></svg>"), auto;

}

.container:hover .overlay {
  opacity: 1;
}

.LuaContent {
 display: flex;
 gap: 80px;
 padding-top: 50px;
}

.horizontalContainer {
  flex-direction: row;
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.overlay:hover {
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>🐆</text></svg>"), auto;

}

html {
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>👺</text></svg>"), auto;
}

#donkey:hover {
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>🐂</text></svg>"), auto;
}

.tabletWebite {
  border: 0px;
  height: 100%;
  width: 100%;
}

.tablet {
  height: 512px;
  width: 533px;
}

.tabletFrame{
  border-style: solid;
  border-radius: 20px;
  border-color: black;
  border-width: 90px;
}


/* add description */
/* duplicate for other site */